---
import type { BlogPost } from '../../lib/blog/types';
import BlogCard from './BlogCard.astro';

interface Props {
  posts: BlogPost[];
}

const { posts } = Astro.props;

// Bento layout: 1 large center, 2 left, 2 right (like reference image)
const featured = posts[0];
const leftPosts = posts.slice(1, 3);
const rightPosts = posts.slice(3, 5);
---

<section class="bento-grid">
  <div class="bento-grid__inner">
    {/* Left column - 2 stacked cards */}
    <div class="bento-col bento-col--left">
      {leftPosts.map((post) => (
        <BlogCard post={post} />
      ))}
    </div>

    {/* Center - Featured card */}
    <div class="bento-col bento-col--center">
      {featured && <BlogCard post={featured} featured />}
    </div>

    {/* Right column - 2 stacked cards */}
    <div class="bento-col bento-col--right">
      {rightPosts.map((post) => (
        <BlogCard post={post} />
      ))}
    </div>
  </div>
</section>
